<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome, <%= name %>!</h1>
  <p>Thanks for signing up for our app.</p>
  <p>Your account details:</p>
  <ul>
    <li>Email: <%= email %></li>
    <li>Login URL: <a href="<%= loginUrl %>">Click here to log in</a></li>
  </ul>
  <p>Thanks!</p>
  <p>NestJS Blog Team</p>
</body>
</html>